.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navigation {
    left: 50%;
    line-height: 10rem;
    letter-spacing: 1rem;
    text-align: center;
}
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Arial Rounded MT Bold';
    font-size: 1rem;
    text-align: center;
}
.b1 {
    background-color: white; 
    color: black; 
    border: 2px solid #CBF6F8;
  }
  
.b1:hover {
    background-color: #CBF6F8;
    color: white;
}
.b2 {
    background-color: white; 
    color: black; 
    border: 2px solid #CBF6F8;
}
.b2:hover {
    background-color: #CBF6F8;
    color: white;
}
.b3 {
    background-color: white; 
    color: black; 
    border: 2px solid #CBF6F8;
}
.b3:hover {
    background-color: #CBF6F8;
    color: white;
}
.bl {
    text-decoration: none;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
