body {
    background: linear-gradient(270deg, #e98000, #df19e0, #00e9e9, #00e900);
    background-size: 1000% 1000%;
    -webkit-animation: wallgradient 15s ease infinite;
    -moz-animation: wallgradient 15s ease infinite;
    animation: wallgradient 15s ease infinite;
}
@-webkit-keyframes wallgradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes wallgradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes wallgradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navigation {
    left: 50%;
    line-height: 10rem;
    letter-spacing: 1rem;
    text-align: center;
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}
.btntxt {
    font-family: 'Arial Rounded MT Bold';
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
.b1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.b1:hover {
    background-color: #4CAF50;
    color: white;
}
.bt1 {
    color: rgb(13, 255, 0); 
}
.b2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
  
.b2:hover {
    background-color: #008CBA;
    color: white;
}
.bt2 {
    color: rgb(0, 255, 255); 
}
.b3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
  
.b3:hover {
    background-color: #f44336;
    color: white;
}
.bt3 {
    color: rgb(255, 0, 0); 
}